/* ----------------------------

	FileName : index.css

---------------------------- */
/* line 13, ../scss/import/_mixin.scss */
.clearfix {
  display: inline-block;
}
/* line 15, ../scss/import/_mixin.scss */
.clearfix {
  display: block;
}
/* line 18, ../scss/import/_mixin.scss */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}

/* line 26, ../scss/import/_mixin.scss */
.textOver {
  display: block;
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
}

@font-face {
  font-family: Oswald-Bold;
  src: url("/font/Oswald-Bold.ttf") format("truetype");
}
@font-face {
  font-family: Oswald-Light;
  src: url("/font/Oswald-Light.ttf") format("truetype");
}
@font-face {
  font-family: Oswald-Regular;
  src: url("/font/Oswald-Regular.ttf") format("truetype");
}
/* line 25, ../scss/index.scss */
#wrapper {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMxNWRkOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIwYWZkOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #315dd8), color-stop(100%, #20afd8));
  background-image: -moz-linear-gradient(#315dd8, #20afd8);
  background-image: -webkit-linear-gradient(#315dd8, #20afd8);
  background-image: linear-gradient(#315dd8, #20afd8);
  overflow-x: hidden;
}
/* line 28, ../scss/index.scss */
#wrapper > .inner {
  width: 1020px;
  margin: 0 auto;
  min-height: 900px;
  padding: 10px 0 0;
  position: relative;
}
@media only screen and (max-width: 1020px) {
  /* line 28, ../scss/index.scss */
  #wrapper > .inner {
    overflow: hidden;
  }
}
/* line 37, ../scss/index.scss */
#wrapper > .inner .info {
  width: 580px;
  margin: 0 auto;
}
/* line 39, ../scss/import/_mixin.scss */
#wrapper > .inner .info:after {
  content: "";
  display: block;
  clear: both;
}
/* line 42, ../scss/index.scss */
#wrapper > .inner .info .time {
  width: 245px;
  height: 245px;
  background: url(../img/pic_sun.png) center center no-repeat;
  float: left;
}
/* line 47, ../scss/index.scss */
#wrapper > .inner .info .time dl {
  text-align: center;
  padding-top: 90px;
}
/* line 50, ../scss/index.scss */
#wrapper > .inner .info .time dl dt {
  font-weight: bold;
}
/* line 54, ../scss/index.scss */
#wrapper > .inner .info .time dl dd {
  font-size: 228.57143%;
  font-weight: bold;
  line-height: 1.2;
}
/* line 61, ../scss/index.scss */
#wrapper > .inner .info .theme {
  float: right;
  width: 320px;
  margin-top: 82px;
}
/* line 65, ../scss/index.scss */
#wrapper > .inner .info .theme h2 {
  font-size: 357.14286%;
  font-weight: bold;
  line-height: 1.2;
  color: #fff;
}
/* line 70, ../scss/index.scss */
#wrapper > .inner .info .theme h2 span {
  font-size: 60%;
  display: block;
}
/* line 77, ../scss/index.scss */
#wrapper > .inner .videoArea {
  margin-top: 10px;
}
/* line 80, ../scss/index.scss */
#wrapper > .inner .videoArea form #streams01 {
  display: none;
}
/* line 39, ../scss/import/_mixin.scss */
#wrapper > .inner .videoArea form #streams02:after {
  content: "";
  display: block;
  clear: both;
}
/* line 85, ../scss/index.scss */
#wrapper > .inner .videoArea form #streams02 div {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
/* line 91, ../scss/index.scss */
#wrapper > .inner .videoArea form #streams02 div.video1.vote:hover:before {
  background: url(../img/ico_vote_01.png) 0 0 no-repeat;
}
/* line 95, ../scss/index.scss */
#wrapper > .inner .videoArea form #streams02 div.video1 video {
  border: 2px solid #f99494;
}
/* line 101, ../scss/index.scss */
#wrapper > .inner .videoArea form #streams02 div.video2.vote:hover:before {
  background: url(../img/ico_vote_02.png) 0 0 no-repeat;
}
/* line 105, ../scss/index.scss */
#wrapper > .inner .videoArea form #streams02 div.video2 video {
  border: 2px solid #94acf9;
}
/* line 111, ../scss/index.scss */
#wrapper > .inner .videoArea form #streams02 div.video3.vote:hover:before {
  background: url(../img/ico_vote_03.png) 0 0 no-repeat;
}
/* line 115, ../scss/index.scss */
#wrapper > .inner .videoArea form #streams02 div.video3 video {
  border: 2px solid #62e47b;
}
/* line 119, ../scss/index.scss */
#wrapper > .inner .videoArea form #streams02 div.vote {
  cursor: pointer;
}
/* line 123, ../scss/index.scss */
#wrapper > .inner .videoArea form #streams02 div.vote:hover:before {
  content: '';
  display: block;
  position: absolute;
  width: 70px;
  height: 70px;
  right: 5px;
  bottom: 5px;
}
/* line 133, ../scss/index.scss */
#wrapper > .inner .videoArea form #streams02 div video {
  width: 336px;
  height: auto;
  display: block;
}
/* line 142, ../scss/index.scss */
#wrapper > .inner .cloud01 {
  position: absolute;
  left: -252px;
  top: 75px;
}
/* line 147, ../scss/index.scss */
#wrapper > .inner .cloud02 {
  position: absolute;
  left: -150px;
  top: 470px;
}
/* line 152, ../scss/index.scss */
#wrapper > .inner .cloud03 {
  position: absolute;
  right: -230px;
  top: 262px;
}
/* line 157, ../scss/index.scss */
#wrapper > .inner .mountain01 {
  position: absolute;
  left: -214px;
  bottom: 0;
}
/* line 162, ../scss/index.scss */
#wrapper > .inner .mountain02 {
  position: absolute;
  right: -120px;
  bottom: 0;
}
/* line 167, ../scss/index.scss */
#wrapper > .inner .airplane {
  position: absolute;
  right: 330px;
  bottom: 65px;
}
